.citySearch {
    margin: 20px;
}

.citySearchForm {
    display: flex;
    flex-direction: column;
}

.citySearchInput {
    margin-top: 5px;
    height: 20px;
    width: 142px;
}

.citySearchButton {
    height: 30px;
    width: 150px;
    margin-top: 10px;
}

.findNear {
    margin: 20px;
}

.findNearbyButton {
    height: 30px;
    width: 150px;
}

.loader {
    margin: auto;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #5c5c5c;
    width: 50px;
    height: 50px;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loadingText{
    margin-top: 10px;
    text-align: center;
}